@page
@model JekirdekCase.Pages.LoginModel
@{
    ViewData["Title"] = "Giriş Yap";
}

<h1>@ViewData["Title"]</h1>

<div class="row">
    <div class="col-md-4">
        <section>
            <form method="post">
                <h4>Hesabınıza giriş yapın.</h4>
                <hr />
                @if (!string.IsNullOrEmpty(Model.ErrorMessage))
                {
                    <div asp-validation-summary="ModelOnly" class="text-danger" role="alert">@Model.ErrorMessage</div>
                }
                <div class="form-floating mb-3">
                    <input asp-for="Input.Username" class="form-control" autocomplete="username" aria-required="true" placeholder="kullaniciadi" />
                    <label asp-for="Input.Username" class="form-label">Kullanıcı Adı</label>
                    <span asp-validation-for="Input.Username" class="text-danger"></span>
                </div>
                <div class="form-floating mb-3">
                    <input asp-for="Input.Password" type="password" class="form-control" autocomplete="current-password" aria-required="true" placeholder="şifre" />
                    <label asp-for="Input.Password" class="form-label">Şifre</label>
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div>
                <div>
                    <button id="login-submit" type="submit" class="w-100 btn btn-lg btn-primary">Giriş Yap</button>
                </div>
            </form>
        </section>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}